body {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}
.main{
    height: 400px;
    width: 500px;
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jokeContainer {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}